<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style></style>
    <script src="../../vue.js"></script>
</head>

<body>
    <div id="root">
        <h2>人员列表</h2>
        <ul>
            <!-- 这是第一种写法 -->
            <!-- <li v-for="(p,index) in persons" :key="index"> -->
            <!-- 这是第二种写法 -->
            <li v-for="p in persons" :key="p.id">
                {{p.name}}-{{p.age}}
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#root',
            data: {
                persons: [
                    { id: 001, name: '张三', age: 18 },
                    { id: 002, name: '李四', age: 19 },
                    { id: 003, name: '王五', age: 20 },
                ]
            },
            methods: {}
        })
    </script>
</body>

</html>