<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算属性</title>
    <style>
        input {
            margin-top: 20px;
            /* display: block; */
        }
    </style>
    <script src="../../vue.js"></script>
</head>

<body>
    <div id="root">
        姓：<input type="text" placeholder="请输入您的姓" v-model="firstName"><br>
        名：<input type="text" placeholder="请输入您的名" v-model="lastName">
        <p>全名：{{fullName}}</p>
        <p>全名：{{fullName}}</p>
        <p>全名：{{fullName}}</p>
        <p>全名：{{fullName}}</p>
        <p>全名：{{fullName}}</p>
    </div>
    <script>
        var vm = new Vue({
            el: '#root',
            data: {
                firstName: '',
                lastName: ''
            },
            computed: {
                /* fullName: {
                    // get什么时候调用？1.初次读取fullName时，2.所依赖的数据发生变化时
                    // 并不是每一次用到fullName时都会被调用，在调用之后会缓存
                    get() {
                        // console.log(this); 此处的this是vm
                        return this.firstName + '-' + this.lastName
                    },
                    set(value) {
                        var arr = value.split('-')
                        this.firstName = arr[0];
                        this.lastName = arr[1];
                    }
                } */
                // 计算属性的简写
                // 当fullName 只被读取但不进行修改时可以这样写
                fullName() {
                    return this.firstName + '' + this.lastName
                }
            }
        })
    </script>
</body>

</html>